.table {
  display: table;
}

.heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: solid;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
}
